@model WatchTower_V1.Models.GeneralTicketModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <a asp-action="" asp-route-id="Index"><div class="btn btn-warning mb-2 ml-2">Back To List</div></a>

</div>
<h1>Spotlight</h1>
<h2>Update Ticket</h2>
<div>
   
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ticket Tile:
        </dt>
        <dd class = "col-sm-10">
            <b>@Html.DisplayFor(model => model.Title)</b> 
        </dd>
        <dt class = "col-sm-2">
           Description:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Issue Raised:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOpened)
        </dd>
        <dt class = "col-sm-2">
            Status:
        </dt>
        <dd class="col-sm-10">
            @if (Model.isClosed)
            {
                <p class="resolved-details">Resolved!</p>
            }
            else
            {
                <p class="open-details">Open!</p>
            }
        </dd>
        <dt class = "col-sm-2">
            Ticket Author:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            Raised By:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>


<div class="row justify-content-center">
    <div class="col-md-10 ">
        @{
            if (Model.Updates.Count > 0)
            {
                <table class="table table-bordered table-striped table-light table-responsive-md">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Author</th>
                            <th scope="col">Update Notes</th>
                            <th scope="col">Updated</th>

                        </tr>
                    </thead>
                    <tbody>

                        @{ foreach (var update in Model.Updates)
                            {

                                <tr>
                                    <td>
                                        <img style="width:50px; object-fit:cover; border-radius:30px" src="@update.ProfilePicture" />
                                    </td>
                                    <td>@update.UserName</td>
                                    <td>@update.Action</td>
                                    <td>@update.TimeStamp</td>

                                </tr>
                            }


                        }



                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-primary" role="alert">
                   Sorry, No Updates Available!
                </div>
               
            }
        }
    </div>
</div>

<div class="row justify-content-center py-3 alert alert-secondary">
    <div class="col-md-10">
        <h3 class="py-2 text-center">Record Update</h3>
        <form method="post" asp-action="Action">
            <input name="id" value="@Model.Id" type="hidden" readonly />
            <textarea type="text" class="form-control py-3" placeholder="Update action details..." name="action" rows="3"> </textarea>
            <label class="py-2" for="isresolved">Update Status/Resolve Ticket?</label>
            <select id="isresolved" name="isresolved">
                <option value="false">Issue is Ongoing</option>
                <option value="true">Mark as Resolved</option>
            </select>
            <button type="submit" class="btn btn-block btn-primary mt-2">Submit Update</button>
        </form>
    </div>

</div>




