@model IEnumerable<GeneralTicketViewModel>

@{
    ViewData["Title"] = "Searchlight - General Tickets";
}

<h1>Searchlight</h1>
<h2>All General Tickets</h2>

<form asp-controller="GeneralTicket" asp-action="Index" method="get">
    <p>
        <label for="status">Filter by Ticket Status:</label>

        <select name="status">
            <option value="null">All General Tickets</option>
            <option value="false">Only Open Tickets</option>
            <option value="true">Only Closed Tickets</option>
        </select>
        Search Ticket: <input type="text" name="Search" />
        <input class="btn btn-primary" type="submit" value="Filter" />
    </p>
</form>
<form asp-controller="GeneralTicket" asp-action="Index" method="get">
    <p>
        <input class="btn btn-outline-primary" type="submit" value="Reset" />
    </p>
</form>
<div class="row">

    <a asp-action="Create">
        <div class="btn btn-primary p-2 m-3">Raise New General Ticket</div>
    </a>
</div>


<div class="row">
    @foreach (var ticket in Model)
    {

        <section class="col-lg-3 col-md-6 py-3">
            <div class="card">
                <img src="/images/sampleTech.png" class="img-fluid card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">@ticket.Title</h4>
                    @if (ticket.isClosed)
                    {
                        <p class="resolved">Resolved!</p>
                    }
                    else
                    {
                        <p class="open">Open!</p>
                    }
                    <small class="text-muted">@ticket.Description</small>
                    <hr>
                    <p>
                        <b>Date Opened:</b>
                        @ticket.DateOpened
                    </p>

                    @if (ticket.isClosed)
                    {
                        <a asp-action="Details" asp-route-id="@ticket.Id">
                            <div class="btn btn-block btn-success mb-2">Review</div>
                        </a>
                        <a asp-action="Edit" asp-route-id="@ticket.Id">
                            <div class="btn btn-block btn-warning mb-2">Edit/Reopen</div>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@ticket.Id">
                            <div class="btn btn-block btn-success mb-2">Update or Resolve</div>
                        </a>
                        <a asp-action="Edit" asp-route-id="@ticket.Id">
                            <div class="btn btn-block btn-warning mb-2">Edit Ticket</div>
                        </a>
                    }




                </div>
            </div>
        </section>

    }
</div>




